.navtype {
    width: 100%;
    background-color: rgb(78, 131, 253);
    height: 30px;
}
a {
    text-decoration: none;
}
.topbar-a:hover {
    background-color: rgb(195, 195, 195);
}
body {
    margin: 0;
    font-family: arial,serif;
}
ul {
    margin: 0;

}
li {
    list-style-type: none;
    margin: 0 5px;
    font-size: 15px;
    font-weight: bold;
}
nav {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
} 

.headsearch {
    display: flex;
}
/*search button*/
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(78, 131, 253);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(78, 131, 253);
  background: rgb(78, 131, 253);
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 50%;
  position: absolute;
  top: 10%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.text-n-search {
    color: black;
    margin: 0 5px;
}
.icon-main {
    padding-left: 20px;
}

/*menu*/
ul#menu-v, #menu-v ul
{
    width:200px; /* Main Menu width */
    border:1px solid white;
    list-style:none; margin:0; padding:0;
    z-index:9;
}     

#menu-v li
{
    margin:0;padding:0;
    position:relative;    
    background-color:#DDDDDD; /*fallback color*/
	background-color:white;
}
#menu-v li:hover
{
    background-color:rgb(78, 131, 253);
}

#menu-v a
{

    
    display:block;
    color:black;
    text-decoration:none;
    line-height:30px;
    padding-left:22px; 
    position:relative;
    border: 2px solid gray;          
}

#menu-v li:first-child a
{
    border-top:0;
}

#menu-v a.arrow::after{
    content:'';
    position:absolute;
    display:inline;
    top:50%;
    margin-top:-4px;
    right:8px;
    border-width:4px;
    border-style:solid;
    border-color:transparent transparent transparent black;
    transition:border-color 0.5s;  
}
                
#menu-v li a.arrow:hover::after
{
    border-color:transparent transparent transparent black;
}
        
#menu-v li ul
{
    min-width:180px;
    position:absolute;
    display:none;
    left:100%;
    top:50%; transform:translateY(-50%);
}

#menu-v li:hover > ul
{
    display:block;
}
#index-menu {
  padding-left: 400px;
  padding-top: 110px;
}
/*TEXT BOXES*/
